.Top_area{
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons{
    display: flex;
    justify-content: right;
    align-items: end;
}

.btn{
    margin-right: 10px;
}